%div{ :style => "margin-bottom: 50px; width: 60%;" }
  %ul
    - @messages.each do |message|
      %li
        %a{ :name => "#{message.id}" }
        = h message.content
        %span{ :style => "color: orange; font-size: 90%; float: right;" }
          (
          =  message.updated_at.strftime("%Y-%m-%d %H:%M:%S")
          )

%div{ :style => "position: fixed; bottom: 0; background-color: orange; height: 50px; width: 100%; padding-left: 50px;" }
  - form_for(Message.new) do |f|
    %p
      = f.label :message
      = f.text_field :content
      = f.submit "Say!"
