#message_list
  %ul
%a{:name => "message_bottom"}
#message_input
  %p
    Nickname:
    %span#nickname_value
      = cookies['skip-talk.nickname']
    = link_to 'Change Nickname', '#', :id => 'change_nickname'
    = text_field_tag 'nickname', '', :class => "invisible"
    Polling:
    %span#polling_value
      = cookies['skip-talk.polling']
    = text_field_tag 'polling', cookies['skip-talk.polling']
  - form_for(Message.new) do |f|
    %p
      = "#{f.label :message}:"
      = f.text_area :content, :size => "60x2"
      = f.submit "Say!"
- content_for :js do
  :javascript
    $(function() {

    // change nickname
      $('#change_nickname').click(function() {
        $(this).hide();
        $('#nickname_value').hide();
        $('#nickname').show().focus();
        return false;
      });

      $('#nickname').blur(function() {
        $.cookie('skip-talk.nickname', $(this).val(), {expires: 7});
        $('#nickname_value').html($(this).val());
        $('#change_nickname').show();
        $('#nickname_value').show();
        $(this).hide();
      }).val($.cookie('skip-talk.nickname'));

      // post new message
      $('#new_message').submit(function() {
        var message_content = $('#message_content');
        var nickname = $.cookie('skip-talk.nickname');
        if(nickname)
          message_content.val(nickname + ':' + message_content.val());
        $.ajax({
          type: "POST",
          data: $(this).serialize(),
          url: $(this).attr("action") + ".js",
          success: function(data){
            appendData(data);
          }
        });
        message_content.val("");
        message_content.focus();
        return false;
      });

      // load initial message
      function initLoad(){
       var message_list = $('#message_list');
       message_list.hide();
        $.ajax({
          type: "GET",
          url: ".?format=js",
          success: function(data){
            appendData(data);
          }
        });
        message_list.show();
      }
      initLoad();

      // use after loading new message
      function moveToBottom(){
        $('html,body').animate({ scrollTop: $('a[name="message_bottom"]').offset().top });
      }

      // append data that is message list.
      function appendData(data){
        var dataObj = eval('('+data+')');
        if($.isArray(dataObj)){
          $.each(dataObj, function(){
            appendMessage(this);
          });
        } else {
          appendMessage(dataObj);
        }
        moveToBottom();
      };

      // Append a message in message list.
      // Behavier is change when new message is nested message.
      function appendMessage(message){
        var rootUl = $("#message_list ul:first");
        if(findByMessageId(message.id).size() != 0){
          var nestRoot = $(findByMessageId(message.root_id)).parent("li:first");
          nestRoot.appendTo(rootUl);
        } else {
          if(message.parent_id){
            if(findByMessageId(message.root_id).size() != 0){
              target = findByMessageId(message.parent_id).parent("li:first").children('ul:first');
              target.append(messageItem(message));
              var nestRoot = $(findByMessageId(message.root_id)).parent("li:first");
              nestRoot.appendTo(rootUl);
            } else {
              appendMessageWithTree(message.id);
            };
          }else{
            rootUl.append(messageItem(message));
          };
        };
      };

      function appendMessageWithTree(id){
        $.ajax({
          type: "GET",
          url: ".?format=js&contein_tree="+id,
          success: function(data){
            appendData(data);
          }
        });
      };

      // create message dom obj.
      function messageItem(message){
        var li = $("<li></li>");
        var rightMenu = $('<span class="right_menu"></span>');
        var created_at = $("<span class=\"created_at\">(" + message.created_at + ")</span>");
        var add = $("<span class=\"add\">[返信]</span>");
        rightMenu.append(add).append(created_at);
        var id_name = $("<a name=" + message.id + "></a>");
        var content = $("<span class=\"content\">" + message.content + "</span>");
        var child_ul = $("<ul></ul>");
        li.append(rightMenu).append(id_name).append(content).append(child_ul);
        li.data("message",message);
        return li;
      };

      // toggle nest comment form
      $('span.add').live("click", function(){
        if($(this).data("showed") != true){
          var form = $('<form action="/messages" method="post" class="nest_comment"></form>');
          var textArea = $('<textarea rows="2" name="message[content]" cols="60"></textarea>');
          var token = $("input[name='authenticity_token']:first").clone();
          var parent = $('<input type="hidden" name="message[parent_id]" value="'+$(this).parents('li:first').data('message').id+'">');
          var submit = $('<input type="submit" value="Say"></input>');
          form.append(textArea).append(token).append(parent).append(submit);
          $(this).parents("li:first").append(form);
          $(this).data("showed", true)
        } else {
          $(this).parents("li:first").find("form").remove();
          $(this).data("showed", false)
        };
      });

      // nest comment submit
      $('form.nest_comment').live('submit', function(){
        var message_content = $(this).find('textarea');
        var nickname = $.cookie('skip-talk.nickname');
        if(nickname)
          message_content.val(nickname + ':' + message_content.val());
        $.ajax({
          type: "POST",
          data: $(this).serialize(),
          url: $(this).attr("action") + ".js",
          success: function(data){
            appendData(data);
          }
        });
        $(this).hide();
        return false;
      });

      // set polling time
      $('#polling').blur(function(){
        $.cookie('skip-talk.polling', $(this).val());
      });

      // do polling
      function update(){
        $.ajax({
          type: "GET",
          url: ".?format=js&since_id=" + maxId(),
          success: function(data){
            appendData(data);
          }
        });
      };

      // get max message id for get data with polling.
      function maxId(){
        var maxValue = 0;
        $("#message_list li a").each(function(){
        if(maxValue < this.name)
          maxValue = this.name;
        });
        return maxValue;
      }

      var polling_val = $.cookie('skip-talk.polling') || 20000;
      setInterval(update, polling_val);

      function findByMessageId(id){
        return $("a[name='"+id+"']");
      };
    });

