#message_list
  %ul
#message_input
  %p
    Nickname:
    %span#nickname_value
      = cookies['skip-talk.nickname']
    = link_to 'Change Nickname', '#', :id => 'change_nickname'
    = text_field_tag 'nickname', '', :class => "invisible"
    Polling:
    %span#polling_value
      = cookies['skip-talk.polling']
    = text_field_tag 'polling', cookies['skip-talk.polling']
  - form_for(Message.new) do |f|
    %p
      = "#{f.label :message}:"
      = f.text_area :content, :size => "60x2"
      = f.submit "Say!"
- content_for :js do
  :javascript
    $(function() {
      $('#change_nickname').click(function() {
        $(this).hide();
        $('#nickname_value').hide();
        $('#nickname').show().focus();
        return false;
      });

      $('#nickname').blur(function() {
        $.cookie('skip-talk.nickname', $(this).val(), {expires: 7});
        $('#nickname_value').html($(this).val());
        $('#change_nickname').show();
        $('#nickname_value').show();
        $(this).hide();
      }).val($.cookie('skip-talk.nickname'));

      $('#new_message').submit(function() {
        var message_content = $('#message_content');
        var nickname = $.cookie('skip-talk.nickname');
        if(nickname)
          message_content.val(nickname + ':' + message_content.val());
        $.ajax({
          type: "POST",
          data: $(this).serialize(),
          url: $(this).attr("action") + ".js",
          complete: function(req, stat){
            appendMessage(eval('('+req.responseText+')'));
          }
        });
        message_content.val("");
        message_content.focus();
        return false;
      });

      function initLoad(){
        $.ajax({
          type: "GET",
          url: ".?format=js",
          success: function(data){
            appendData(data);
          }
        });
      }
      initLoad();

      var appendMessage = function(message){
        if(findByMessageId(message.id).size() != 0){
          return;
        }
        var rootUl = $("#message_list ul:first");
        if(message.parent_id){
          if(findByMessageId(message.root_id).size() != 0){
            target = findByMessageId(message.parent_id).parent().children('ul:first');
            target.append(messageItem(message));
            var nestRoot = $(findByMessageId(message.root_id)).parent();
            nestRoot.appendTo(rootUl);
          } else {
            alert("not implemented.")
          };
        }else{
          rootUl.append(messageItem(message));
        };
        $('html,body').animate({ scrollTop: $('li:last').offset().top });
      };

      function messageItem(message){
        var li = $("<li></li>");
        var created_at = $("<span class=\"created_at\">(" + message.created_at + ")</span>");
        var id_name = $("<a name=" + message.id + "></a>");
        var content = $("<span class=\"content\">" + message.content + "</span>");
        var add = $("<span class=\"add\">+</span>");
        var child_ul = $("<ul></ul>");
        li.append(created_at).append(id_name).append(content).append(add).append(child_ul);
        li.data("message",message);
        return li;
      };

      $('#polling').blur(function(){
        $.cookie('skip-talk.polling', $(this).val());
      });

      function update(){
        $.ajax({
          type: "GET",
          url: ".?format=js&since_id=" + maxId(),
          success: function(data){
            appendData(data);
          }
        });
      };

      $('span.add').live("click", function(){
        var form = $('<form action="/messages" method="post" class="nest_comment"></form>');
        var textArea = $('<textarea rows="2" name="message[content]" cols="60"></textarea>');
        var token = $("input[name='authenticity_token']:first").clone();
        var parent = $('<input type="hidden" name="message[parent_id]" value="'+$(this).parent().data('message').id+'">');
        var submit = $('<input type="submit" value="Say"></input>');
        form.append(textArea).append(token).append(parent).append(submit);
        $(this).after(form);
      });

      $('form.nest_comment').live('submit', function(){
        var message_content = $(this).find('textarea');
        var nickname = $.cookie('skip-talk.nickname');
        if(nickname)
          message_content.val(nickname + ':' + message_content.val());
        $.ajax({
          type: "POST",
          data: $(this).serialize(),
          url: $(this).attr("action") + ".js",
          complete: function(req, stat){
            appendMessage(eval('('+req.responseText+')'));
          }
        });
        $(this).hide();
        return false;
      });

      function appendData(data){
        var arr = eval('('+data+')');
        $.each(arr, function(){
          appendMessage(this);
        });
      };
      var polling_val = $.cookie('skip-talk.polling') || 20000;
      setInterval(update, polling_val);

      function maxId(){
        var maxValue = 0;
        $("#message_list li a").each(function(){
        if(maxValue < this.name)
          maxValue = this.name;
        });
        return maxValue;
      }

      function findByMessageId(id){
        return $("a[name='"+id+"']");
      };
    });

