#message_list
  %ul
    - @messages.reverse.each do |message|
      = render message
#message_input
  %p
    Nickname:
    %span#nickname_value
      = cookies['skip-talk.nickname']
    = link_to 'Change Nickname', '#', :id => 'change_nickname'
    = text_field_tag 'nickname', '', :class => "invisible"
  - form_for(Message.new) do |f|
    %p
      = "#{f.label :message}:"
      = f.text_area :content, :size => "60x2"
      = f.submit "Say!"
- content_for :js do
  :javascript
    $(function() {
      $('#change_nickname').click(function() {
        $(this).hide();
        $('span#nickname_value').hide();
        $('#nickname').show().focus();
        return false;
      });

      $('#nickname').blur(function() {
        $.cookie('skip-talk.nickname', $(this).val(), {expires: 7});
        $('#nickname_value').html($(this).val());
        $('#change_nickname').show();
        $('span#nickname_value').show();
        $(this).hide();
      }).val($.cookie('skip-talk.nickname'));

      $('form#new_message').submit(function() {
        var message_content = $('#message_content');
        var nickname = $.cookie('skip-talk.nickname');
        if(nickname)
          message_content.val(nickname + ':' + message_content.val());
        $.ajax({
          type: "POST",
          data: $(this).serialize(),
          url: $(this).attr("action") + ".js",
          complete: function(req, stat){
            append_message(eval('('+req.responseText+')'));
          }
        });
        message_content.val("");
        return false;
      });

      var append_message = function(message){
        $("div#message_list ul").append("<li><span>(" + message.created_at + ")</span><a name=" + message.id + "></a>" + message.content + "</li>");
        $('html,body').animate({ scrollTop: $('li:last').offset().top }, 'slow');
      };
    });

